################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/CarRental/.vs/CarRental/v17
/backend/CarRental/CarRental.API/obj
/backend/CarRental/CarRental.Database/obj
