################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/CarRental/.vs/CarRental/v17
/backend/CarRental/CarRental.API/obj
/backend/CarRental/CarRental.Database/obj
/backend/CarRental/CarRental.Database2/obj
/backend/CarRental/.vs/CarRental
/backend/CarRental/CarRental.Domain/obj/Debug/netcoreapp3.1
/backend/CarRental/CarRental.Domain/obj
/backend/CarRental/CarRental.API2/bin/Debug/net5.0
/backend/CarRental/CarRental.API2/obj
/backend/CarRental/CarRental.Database2/bin/Debug/net5.0
/backend/CarRental/CarRental.Domain/bin/Debug/netcoreapp3.1
